# ignore eclipse project files
.project
.cproject

bin/
lib/

# CMake Cache
**/CMakeCache.txt
**/CMakeFiles
*.dylib
skyscraper
plugins.cfg
**/cmake_install.cmake
**/install_manifest.txt
Makefile

# macOS App
Skyscraper.app