# ignore eclipse project files
.project
.cproject

bin/
lib/

#ignore vscode files
.vscode/

# CMake Cache
**/CMakeCache.txt
**/CMakeFiles
*.dylib
skyscraper
plugins.cfg
**/cmake_install.cmake
**/install_manifest.txt
Makefile

# macOS App
Skyscraper.app

# Windows
msvc/Release
msvc/Debug
ogrebullet/Release
ogrebullet/Debug
*.dll
*.pdb
Skyscraper.exe

# Misc.
skyscraper.log
ogre.cfg
OgreBulletCollisions.exp
OgreBulletCollisions.lib
OgreBulletDynamics.exp
OgreBulletDynamics.lib
src/sbs/gitrev.h
