# ignore eclipse project files
.project
.cproject

bin/
lib/

#ignore vscode files
.vscode/

#ignore eclipse files
.settings/

# CMake Cache
**/CMakeCache.txt
**/CMakeFiles
*.dylib
skyscraper
plugins.cfg
**/cmake_install.cmake
**/install_manifest.txt
*CPack*
Makefile

# macOS App
Skyscraper.app

# Windows
msvc/Release
msvc/Debug
*.vcxproj*
*.sln
ogrebullet/Release
ogrebullet/Debug
*.dll*
*.pdb
*.dir/
x64/
Skyscraper.exe
Thumbs.db

# Misc.
skyscraper.log
ogre.cfg
*.exp
*.lib
src/sbs/gitrev.h
_deps/
