<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Console">
		<title>Script Console</title>
		<centered>1</centered>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxCAPTION|wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX|wxMINIMIZE_BOX</style>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>3</cols>
					<growablecols>0,1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_tCommand" variable="tCommand" member="yes">
							<size>400,100</size>
							<style>wxTE_MULTILINE|wxHSCROLL|wxTE_DONTWRAP</style>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer2" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxButton" name="ID_bSend" variable="bSend" member="yes">
									<label>Send</label>
									<handler function="On_bSend_Click" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_bClose" variable="bClose" member="yes">
									<label>Close</label>
									<handler function="On_bClose_Click" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
