<resource>
    <object class="wxDialog" name="DebugPanel">
        <title>Simulator Control Panel</title>
        <style>wxCAPTION|wxTHICK_FRAME|wxSYSTEM_MENU|wxRESIZE_BOX|wxCLOSE_BOX|wxMINIMIZE_BOX</style>
        <object class="wxButton" name="ID_bListAltitudes" variable="bListAltitudes" member="yes">
            <label>List Altitudes</label>
            <handler entry="EVT_BUTTON" function="On_bListAltitudes_Click" />
            <pos>350,185</pos>
            <size>85,25</size>
        </object>
        <object class="wxStaticText" name="st4c" variable="StaticText1" member="yes">
            <label>Camera Floor:</label>
            <pos>15,10</pos>
            <size>74,13</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="st5c" variable="StaticText2" member="yes">
            <label>Camera Position:</label>
            <pos>15,30</pos>
            <size>89,13</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="st6c" variable="StaticText3" member="yes">
            <label>Elevator Number:</label>
            <pos>15,50</pos>
            <size>89,13</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="st7c" variable="StaticText4" member="yes">
            <label>Elevator Floor:</label>
            <pos>15,70</pos>
            <size>79,13</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="st11c" variable="StaticText8" member="yes">
            <label>Selected Object:</label>
            <pos>15,90</pos>
            <size>89,13</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="ID_t_camerafloor" variable="t_camerafloor" member="yes">
            <label></label>
            <pos>105,10</pos>
            <size>109,18</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="ID_t_camerap" variable="t_camerap" member="yes">
            <label></label>
            <pos>105,30</pos>
            <size>109,18</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="ID_t_elevnumber" variable="t_elevnumber" member="yes">
            <label></label>
            <pos>105,50</pos>
            <size>109,18</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="ID_t_elevfloor" variable="t_elevfloor" member="yes">
            <label></label>
            <pos>105,70</pos>
            <size>109,18</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="ID_t_object" variable="t_object" member="yes">
            <label></label>
            <pos>105,90</pos>
            <size>109,18</size>
            <style>wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxStaticText" name="st22c" variable="StaticText17" member="yes">
            <label>Simulator Options</label>
            <pos>295,10</pos>
            <size>119,13</size>
            <style>wxALIGN_CENTRE|wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxCheckBox" name="ID_chkCollisionDetection" variable="chkCollisionDetection" member="yes">
            <label>Collision Detection</label>
            <handler entry="EVT_CHECKBOX" function="On_chkCollisionDetection_Change" />
            <pos>302,35</pos>
        </object>
        <object class="wxButton" name="ID_bMeshControl" variable="bMeshControl" member="yes">
            <label>Realtime Mesh Control</label>
            <handler entry="EVT_BUTTON" function="On_bMeshControl_Click" />
            <pos>325,215</pos>
            <size>135,25</size>
        </object>
        <object class="wxButton" name="ID_bInitRealtime" variable="bInitRealtime" member="yes">
            <label>Init Realtime</label>
            <handler entry="EVT_BUTTON" function="On_bInitRealtime_Click" />
            <pos>350,245</pos>
            <size>85,25</size>
        </object>
        <object class="wxButton" name="ID_bEditElevator" variable="bEditElevator" member="yes">
            <label>Edit Elevator</label>
            <handler entry="EVT_BUTTON" function="On_bEditElevator_Click" />
            <pos>355,275</pos>
            <size>75,25</size>
        </object>
        <object class="wxStaticText" name="st55c" variable="StaticText27" member="yes">
            <label>Measurements are in feet</label>
            <pos>230,138</pos>
            <size>94,33</size>
            <style>wxALIGN_CENTRE|wxST_NO_AUTORESIZE</style>
        </object>
        <object class="wxCheckBox" name="ID_chkFrameSync" variable="chkFrameSync" member="yes">
            <label>Framerate Sync</label>
            <handler entry="EVT_CHECKBOX" function="On_chkFrameSync_Change" />
            <pos>302,93</pos>
        </object>
        <object class="wxCheckBox" name="ID_chkAutoShafts" variable="chkAutoShafts" member="yes">
            <label>Automatic Shafts</label>
            <handler entry="EVT_CHECKBOX" function="On_chkAutoShafts_Change" />
            <pos>302,79</pos>
        </object>
        <object class="wxCheckBox" name="ID_chkMainProcessing" variable="chkMainProcessing" member="yes">
            <label>Main Sim Processing</label>
            <pos>302,65</pos>
        </object>
        <object class="wxCheckBox" name="ID_chkFrameLimiter" variable="chkFrameLimiter" member="yes">
            <label>Frame Limiter</label>
            <handler entry="EVT_CHECKBOX" function="On_chkFrameLimiter_Change" />
            <pos>302,50</pos>
        </object>
    </object>
</resource>
