<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="DebugPanel">
		<title>Simulator Control Panel</title>
		<pos>10,10</pos>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxCLOSE_BOX|wxMINIMIZE_BOX</style>
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer11" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer2" member="yes">
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer4" member="yes">
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer6" member="yes">
												<orient>wxVERTICAL</orient>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
														<label>Camera Floor:</label>
													</object>
													<flag>wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
														<label>Camera Position:</label>
													</object>
													<flag>wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText7" member="yes">
														<label>Camera Rotation:</label>
													</object>
													<flag>wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
														<label>Elevator Number:</label>
													</object>
													<flag>wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
														<label>Elevator Floor:</label>
													</object>
													<flag>wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
														<label>Selected Object:</label>
													</object>
													<flag>wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText8" member="yes">
														<label>Last Collision:</label>
													</object>
													<flag>wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
														<label>Framerate:</label>
													</object>
													<flag>wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer7" member="yes">
												<orient>wxVERTICAL</orient>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_t_camerafloor" variable="t_camerafloor" member="yes">
														<label></label>
														<size>150,-1</size>
														<style>wxST_NO_AUTORESIZE</style>
													</object>
													<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_t_camerap" variable="t_camerap" member="yes">
														<label></label>
														<size>150,-1</size>
														<style>wxST_NO_AUTORESIZE</style>
													</object>
													<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_t_rotation" variable="t_rotation" member="yes">
														<label></label>
														<size>150,-1</size>
														<style>wxST_NO_AUTORESIZE</style>
													</object>
													<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_t_elevnumber" variable="t_elevnumber" member="yes">
														<label></label>
														<size>150,-1</size>
														<style>wxST_NO_AUTORESIZE</style>
													</object>
													<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_t_elevfloor" variable="t_elevfloor" member="yes">
														<label></label>
														<size>150,-1</size>
														<style>wxST_NO_AUTORESIZE</style>
													</object>
													<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_t_object" variable="t_object" member="yes">
														<label></label>
														<size>150,-1</size>
														<style>wxST_NO_AUTORESIZE</style>
													</object>
													<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_t_collision" variable="t_collision" member="yes">
														<label></label>
														<size>150,-1</size>
														<style>wxST_NO_AUTORESIZE</style>
													</object>
													<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT7" variable="t_framerate" member="yes">
														<label></label>
														<size>150,-1</size>
														<style>wxST_NO_AUTORESIZE</style>
													</object>
													<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALIGN_RIGHT|wxALIGN_TOP</flag>
											<border>5</border>
										</object>
									</object>
									<flag>wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>10</border>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer5" member="yes">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
												<label>Simulator Options</label>
											</object>
											<flag>wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_chkCollisionDetection" variable="chkCollisionDetection" member="yes">
												<label>Collision Detection</label>
												<handler function="On_chkCollisionDetection_Click" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_chkGravity" variable="chkGravity" member="yes">
												<label>Gravity</label>
												<handler function="On_chkGravity_Click" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_chkFrameLimiter" variable="chkFrameLimiter" member="yes">
												<label>Frame Limiter</label>
												<enabled>0</enabled>
												<handler function="On_chkFrameLimiter_Click" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_chkProcessElevators" variable="chkProcessElevators" member="yes">
												<label>Process Elevators</label>
												<handler function="On_chkProcessElevators_Click" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_chkAutoShafts" variable="chkAutoShafts" member="yes">
												<label>Automatic Shafts</label>
												<handler function="On_chkAutoShafts_Click" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_chkAutoStairs" variable="chkAutoStairs" member="yes">
												<label>Automatic Stairs</label>
												<handler function="On_chkAutoStairs_Click" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX1" variable="chkVerbose" member="yes">
												<label>Verbose Mode</label>
												<handler function="On_chkVerbose_Click" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_TOP</flag>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>10</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer3" member="yes">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxButton" name="ID_bListAltitudes" variable="bListAltitudes" member="yes">
										<label>List Altitudes</label>
										<handler function="On_bListAltitudes_Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_bMeshControl" variable="bMeshControl" member="yes">
										<label>Realtime Object Control</label>
										<handler function="On_bMeshControl_Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_bCameraControl" variable="bCameraControl" member="yes">
										<label>Camera Control</label>
										<handler function="On_bCameraControl_Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_bEditElevator" variable="bEditElevator" member="yes">
										<label>Elevator Editor</label>
										<handler function="On_bEditElevator_Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_bControlReference" variable="bControlReference" member="yes">
										<label>Control Reference</label>
										<handler function="On_bControlReference_Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_bStats" variable="bStats" member="yes">
										<label>Simulator Statistics</label>
										<handler function="On_bStats_Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_bConsole" variable="bConsole" member="yes">
										<label>Script Console</label>
										<handler function="On_bConsole_Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxTOP|wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>10</border>
						</object>
					</object>
				</object>
				<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
