<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
    <object class="wxDialog" name="Loader">
        <title>Select a Building</title>
        <centered>1</centered>
        <object class="wxBoxSizer" variable="BoxSizer1" member="yes">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <object class="wxGenericDirCtrl" name="ID_SELECTOR" variable="Selector" member="yes">
                    <pos>16,17</pos>
                    <size>196,167</size>
                </object>
                <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                <border>10</border>
            </object>
            <object class="sizeritem">
                <object class="wxButton" name="ID_BUTTON1" variable="bOK" member="yes">
                    <label>OK</label>
                    <pos>71,199</pos>
                    <handler function="On_bOK_Click" entry="EVT_BUTTON" />
                </object>
                <flag>wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                <border>10</border>
            </object>
        </object>
    </object>
</wxsmith>
