<resource>
    <object class="wxFrame" name="MeshControl">
        <title>Realtime Mesh Control</title>
        <handler entry="EVT_INIT_DIALOG" function="OnInit" />
        <style>wxCAPTION|wxTHICK_FRAME|wxSYSTEM_MENU|wxRESIZE_BOX|wxCLOSE_BOX|wxMINIMIZE_BOX</style>
        <object class="wxButton" name="ID_bOk" variable="bOk" member="yes">
            <label>OK</label>
            <handler entry="EVT_BUTTON" function="On_bOk_Click" />
            <pos>75,145</pos>
        </object>
        <object class="wxCheckBox" name="ID_chkFloor" variable="chkFloor" member="yes">
            <label>Level</label>
            <handler entry="EVT_CHECKBOX" function="On_chkFloor_Change" />
            <pos>139,26</pos>
        </object>
        <object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
            <label>Per-Floor Meshes</label>
            <pos>138,7</pos>
        </object>
        <object class="wxCheckBox" name="ID_chkColumnFrame" variable="chkColumnFrame" member="yes">
            <label>Column Frame</label>
            <handler entry="EVT_CHECKBOX" function="On_chkColumnFrame_Change" />
            <pos>7,99</pos>
        </object>
        <object class="wxCheckBox" name="ID_chkSky" variable="chkSky" member="yes">
            <label>Sky</label>
            <handler entry="EVT_CHECKBOX" function="On_chkSky_Change" />
            <pos>7,80</pos>
        </object>
        <object class="wxCheckBox" name="ID_chkLandscape" variable="chkLandscape" member="yes">
            <label>Landscape</label>
            <handler entry="EVT_CHECKBOX" function="On_chkLandscape_Change" />
            <pos>7,62</pos>
        </object>
        <object class="wxCheckBox" name="ID_chkBuildings" variable="chkBuildings" member="yes">
            <label>Buildings</label>
            <handler entry="EVT_CHECKBOX" function="On_chkBuildings_Change" />
            <pos>7,45</pos>
        </object>
        <object class="wxCheckBox" name="ID_chkExternal" variable="chkExternal" member="yes">
            <label>External</label>
            <handler entry="EVT_CHECKBOX" function="On_chkExternal_Change" />
            <pos>7,26</pos>
        </object>
        <object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
            <label>Primary Meshes</label>
            <pos>7,8</pos>
            <size>83,13</size>
        </object>
    </object>
</resource>
