<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="MoveObject">
		<title>Move Object</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxCLOSE_BOX|wxMINIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<rows>2</rows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
					<cols>1</cols>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
							<label>Control</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
									<cols>1</cols>
									<object class="sizeritem">
										<object class="wxGridSizer" variable="GridSizer1" member="no">
											<cols>2</cols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
													<label>Position:</label>
													<style>wxALIGN_CENTRE</style>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_lblPosition" variable="lblPosition" member="yes">
													<label>0, 0, 0</label>
													<style>wxST_NO_AUTORESIZE|wxALIGN_CENTRE</style>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
													<label>Relative Position:</label>
													<style>wxALIGN_CENTRE</style>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT4" variable="lblRelPosition" member="yes">
													<label>0, 0, 0</label>
													<style>wxALIGN_CENTRE</style>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
													<label>Rotation:</label>
													<style>wxALIGN_CENTRE</style>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_lblRotation" variable="lblRotation" member="yes">
													<label>0, 0, 0</label>
													<style>wxST_NO_AUTORESIZE|wxALIGN_CENTRE</style>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
											<size>10,-1</size>
										</object>
										<flag>wxBOTTOM|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
											<cols>2</cols>
											<object class="sizeritem">
												<object class="wxRadioButton" name="ID_rPosition" variable="rPosition" member="yes">
													<label>Position</label>
													<selected>1</selected>
													<handler function="On_rPosition_Select" entry="EVT_RADIOBUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxRadioButton" name="ID_rRotation" variable="rRotation" member="yes">
													<label>Rotation</label>
													<handler function="On_rRotation_Select" entry="EVT_RADIOBUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer14" member="no">
											<cols>2</cols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT28" variable="StaticText20" member="yes">
													<label>Speed</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_txtMoveSpeed" variable="txtMoveSpeed" member="yes">
													<value>1.0</value>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
											<cols>3</cols>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bZPlus" variable="bZPlus" member="yes">
													<label>Z+</label>
													<handler function="On_bZPlus_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bYPlus" variable="bYPlus" member="yes">
													<label>Y+</label>
													<handler function="On_bYPlus_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxBOTTOM|wxLEFT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bXNeg" variable="bXNeg" member="yes">
													<label>X-</label>
													<handler function="On_bXNeg_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_chkHold" variable="chkHold" member="yes">
													<label>Hold</label>
													<handler function="On_chkHold_Click" entry="EVT_CHECKBOX" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bXPlus" variable="bXPlus" member="yes">
													<label>X+</label>
													<handler function="On_bXPlus_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bZNeg" variable="bZNeg" member="yes">
													<label>Z-</label>
													<handler function="On_bZNeg_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bYNeg" variable="bYNeg" member="yes">
													<label>Y-</label>
													<handler function="On_bYNeg_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxTOP|wxLEFT|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxTOP|wxRIGHT|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
							<label>Set</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
									<cols>1</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="yes">
											<label>Position</label>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
											<cols>3</cols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT21" variable="StaticText22" member="yes">
													<label>X:</label>
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_txtPositionX" variable="txtPositionX" member="yes">
													<value>0</value>
												</object>
												<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bPositionX" variable="bPositionX" member="yes">
													<label>Set</label>
													<style>wxBU_EXACTFIT</style>
													<handler function="On_bPositionX_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT22" variable="StaticText23" member="yes">
													<label>Y:</label>
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_txtPositionY" variable="txtPositionY" member="yes">
													<value>0</value>
												</object>
												<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bPositionY" variable="bPositionY" member="yes">
													<label>Set</label>
													<style>wxBU_EXACTFIT</style>
													<handler function="On_bPositionY_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT23" variable="StaticText24" member="yes">
													<label>Z:</label>
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_txtPositionZ" variable="txtPositionZ" member="yes">
													<value>0</value>
												</object>
												<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bPositionZ" variable="bPositionZ" member="yes">
													<label>Set</label>
													<style>wxBU_EXACTFIT</style>
													<handler function="On_bPositionZ_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxTOP|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
											<size>10,-1</size>
										</object>
										<flag>wxTOP|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT27" variable="StaticText28" member="yes">
											<label>Rotation</label>
										</object>
										<flag>wxTOP|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
											<cols>3</cols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT24" variable="StaticText25" member="yes">
													<label>X:</label>
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_txtRotationX" variable="txtRotationX" member="yes">
													<value>0</value>
												</object>
												<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bRotationX" variable="bRotationX" member="yes">
													<label>Set</label>
													<style>wxBU_EXACTFIT</style>
													<handler function="On_bRotationX_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT25" variable="StaticText26" member="yes">
													<label>Y:</label>
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_txtRotationY" variable="txtRotationY" member="yes">
													<value>0</value>
												</object>
												<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bRotationY" variable="bRotationY" member="yes">
													<label>Set</label>
													<style>wxBU_EXACTFIT</style>
													<handler function="On_bRotationY_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT26" variable="StaticText27" member="yes">
													<label>Z:</label>
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_txtRotationZ" variable="txtRotationZ" member="yes">
													<value>0</value>
												</object>
												<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_bRotationZ" variable="bRotationZ" member="yes">
													<label>Set</label>
													<style>wxBU_EXACTFIT</style>
													<handler function="On_bRotationZ_Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxTOP|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticLine" name="ID_STATICLINE3" variable="StaticLine3" member="yes">
											<size>10,-1</size>
										</object>
										<flag>wxTOP|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxTOP|wxBOTTOM|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALIGN_RIGHT|wxALIGN_TOP</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
